/* Файл table.less */
.table {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.table__mob {
  display: flex;
  width: 300px;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.table__head {
  background-color: #273545;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table__string {
  display: flex;
  width: 278px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #f2f2f2;
  padding-left: 10px;
  padding-right: 10px;
}
.table__column1,
.table__column3 {
  display: none;
}
.table__buttons1,
.table__buttons2,
.table__buttons3 {
  border: none;
  display: flex;
  border-radius: 100%;
  width: 13px;
  height: 13px;
  background-color: #bec2c7;
}
.button-active {
  display: flex;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #ffffff;
  border: 3px solid #283645;
}
.table__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70px;
}
.table__tab {
  display: none;
}
@media (min-width: 660px) {
  .table__mob {
    display: none;
  }
  .table__tab {
    display: block;
    padding-bottom: 30px;
  }
  .table__headtab1 {
    background-color: none;
    width: 151px;
    color: white;
  }
  .table__headtab2 {
    background-color: #273545;
    width: 155px;
    color: white;
    border: 1px solid white;
  }
  .table__headtab3 {
    background-color: #273545;
    width: 155px;
    color: white;
    border: 1px solid white;
  }
  .table__headtab4 {
    background-color: #273545;
    width: 155px;
    color: white;
    border: 1px solid white;
  }
  .table__tabcolumn1 {
    font-size: 14px;
    line-height: 30px;
    color: #283645;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: left;
    border: 2px solid #e5e5e5;
    padding-left: 15px;
  }
  .table__tabcolumnall {
    border: 2px solid #e5e5e5;
    text-align: center;
  }
  .table__buttons {
    display: none;
  }
}
@media (min-width: 1200px) {
  .table__tab {
    display: block;
    padding-bottom: 30px;
  }
  .table__headtab1 {
    background-color: none;
    width: 235px;
    color: white;
  }
  .table__headtab2 {
    background-color: #273545;
    width: 235px;
    color: white;
    border: 1px solid white;
  }
  .table__headtab3 {
    background-color: #273545;
    width: 235px;
    color: white;
    border: 1px solid white;
  }
  .table__headtab4 {
    background-color: #273545;
    width: 235px;
    color: white;
    border: 1px solid white;
  }
}
